@import '../carousel-core/core';

.carousel-nav {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: em(3);
    @include opacity(0.5);
    @include transition(opacity, 1.5s, ease);
    &:hover {
        @include opacity(1);
    }
    .carousel-nav-skip,
    .carousel-nav-browser {
        display: block;
        float: left;
        vertical-align: middle;
        text-align: center;
    }
    .carousel-nav-skip {
        width: 15%;
        input:active {
            margin-top: 3px;
            margin-left: 3px;
        }
    }
    .carousel-nav-browser {
        width: 70%;
        padding-top: em(0.6);
        li {
            display: inline-block;
            border: 2px solid $carousel-chrome;
            border-radius: 50px;
            margin: 0 em(0.4);
            font-size: em(1);
            a {
                display: block;
                width: 0.5em;
                height: 0.5em;
                text-indent: -1000em;
                overflow: hidden;
                background: white\9\0; // IE9
                filter: alpha(opacity=10); // IE9
                &:hover, &.carousel-nav-page-active {
                    background: $carousel-chrome;
                    filter: alpha(opacity=100); // IE9
                }
            }
        }
    }
    input:active,
    a:active {
        outline:none;
    }
}
